body{
    font-size: 13px;
    font-family:  sans-serif;

    width:22.7em;

    text-align: center;
    

    /* style="width:22.7em; line-height: 1.4em; text-align:left; padding:.23em;" */
}

.principal{
    background-color: rgb(180, 187, 200);
}

table p{
    margin: 0em;
}

h1{
    background-color:rgb(105, 160, 243);
}

table{
    text-align: left;
    width: 100%;
    box-sizing: inherit;
}