

p{
    font-family:sans-serif;
    color: rgb(97, 95, 95);
}

.irPost{
    float: right;
    color: rgb(16, 144, 184);
}

.titulo{
    color: rgb(16, 144, 184);
    font-size: 15px;
    font-weight: bold;
    
}



.autor img{
    margin: 5px;
}
    /* revisar etiqueta link */
.autor link{
    color: aqua;
}

.etiquetaImg{
    float: left;
}

.etiquetaText{
    font-style: oblique;
    font-size: 12px;
    line-height : 25px;
}

.mensage{
    line-height : 30px;
}

.post{
    margin: 25px;
}


.imagen{
    float: left;
    height: auto;
    margin: 20px;
}

.imagen img{
    border-radius: 50%;
}

.cuerpo{
    float: left;
    width: 80%;

}