*{
    margin: 10px;

}

h2{
    color: rgb(28, 66, 150);
}

.fondo{
    background-color: rgb(150, 10, 10);
}

.mensage{

    float: left;
}

div{
    float: center;
    
}

.left{
    float:left;
    width: 48%;

}

.right{
    float: right;
    width: 48%;
    text-align: right;
}