nav{
    margin: 100px;
    align-content: center;
    background-color: #00ccaa;
    float: left;

}


nav li{
    
    display: inline;
    margin: 5px;
    padding: 5px;
}



nav li img:hover{
    

    
    transform: scale(1.5);
    
    transition-duration: 1.2s;
    transition-delay: 0s;
    transition-property: all;
    /* transition-timing-function: linear; */
    
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    /* transition-timing-function: cubic-bezier(.69,-0.01,.31,.97); */

    margin-left: 30px;
    margin-right: 30px;
    display: inline;
}


li:hover + li{
   
   
   
    transform: scale(1.5);
    
    transition-duration: 1.2s;
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}
