*{
    line-height:1.5em;
    width: 210px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: "sans-serif";
    color:rgb(49, 45, 45);
}

/* p{
    
} */

.Cabecera{
    color: rgb(45, 45, 235);
    font-weight: bold;
    font-size: 1.5em;
    line-height:0;
}

/* .texto{

    line-height:2em;
} */




tr > td:nth-child(1){
    text-align: left;
}

tr > td:nth-child(2){
    text-align: right;
}

tr > th{
    font-style: italic;
    text-align: left;
}

tr > td{
    border-top: 1px solid rgb(209, 204, 204);
}