

body{
    width: 70%;
    height: 300px;
}


body div:nth-child(even){
    background-color: rgb(175, 175, 175);
    float: right;
}

body div:nth-child(odd){
    width: 0, auto;
}

.texto1{
    /* padding-left: 200px; */
    width:600px;
    height: 100%;
    float: right;
}

/* no colorea */
.bloque2{
    width: auto;
    
    margin: 20px;
}

.bloque2 > .texto2{
    width: 500px;
    float: left;
}


