
/* cambiar los selectores de los floats a selectores pares e impares */

.bloque1{
    margin: 20px;

}

.texto1{
    float: right;
    margin: 5px;
}

.bloque1 img{
    float: left;

}

/* no colorea */
.bloque2{
    background-color: rgb(175, 175, 175);
}

.bloque2 > .texto2{
    float: left;
}
.bloque2 > img{
    float: right;
}

