.size-20{
    font-size: 20px;
}

.size-25{
    font-size: 25px;
}

.size-normal{
    font-size: initial;
}

body{
    width: 100%;
    height: 100%;
    background-color: #bbbcbd;
}

.normalColor{
    color: initial;
}

.gris1{
    background-color: #969696;
}

.gris2{
    background-color: #6f6f6f;
}
.gris3{
    background-color: #d0c8c8;
}


.listaColor:nth-child(odd){
    background-color: #969696;
}
.listaColor:nth-child(even){
    background-color: #6f6f6f;
}